<!-- Density panel -->


<!-- Density panel -->
<div class="row bordered">
  <div class="col-md-12">
    <!-- Headers -->
    <div class="row bordered">
      <div class="col-md-3">
        <h3>Distribution</h3>
      </div>
      <div class="col-md-9 animate-hide" ng-show="hasDensity()">
        <h3>Parameters</h3>
      </div>
    </div>
    <!-- Form -->
    <form ng-submit="onRecalculate()">
      <div class="row bordered">
        <!-- Distribution Chooser -->
        <div class="col-md-3">
          <select class="form-control btn btn-standard dropdown-toggle" ng-options="v.name for (k,v) in densities" ng-model="density">
            <option selected value="">Choose a distribution</option>
          </select>
        </div>
        <!-- Parameter Selection -->
        <div class="col-md-3" ng-repeat="p in density.params">
          {{p.name}}: {{p.value}}<br />
          <input type="range" ng-model="p.value" min="{{domain.min}}" max="{{domain.max}}" value="{{density.domain}}" ng-click="update()"/>
        </div>
        <!-- Form Submission -->
        <div class="col-md-1 animate-hide" ng-show="hasDensity()">
          <input type="submit" class="btn btn-primary" value="Re-Calculate" />
        </div>
    </div>
  </form>
</div>

<!-- PDF panel -->
<div class="animate-hide" ng-show="hasDensity()">
  <div class="row bordered">
    <div class="col-md-12">
        <h3>PDF</h3>
        <div class="bordered-blue">
          <div ng-controller="ChartCtrl">
              <bar-chart opts="chartOpts" data="data" hovered="hovered(args)"></bar-chart>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- 
<h3>Parameters</h3>
      <div class="row">
        <div class="col-md-2">
          Range: (0 - {{density.domain}})<br />
          <input type="range" ng-model="density.domain" min="{{domain.min}}" max="{{domain.max}}" value="{{density.domain}}" ng-click="update()"/>
        </div>
      </div>
      <div class="row" ng-repeat="p in density.params">
        <div class="col-md-2">
          {{p.name}}: {{p.value}}<br />
          <input type="range" ng-model="p.value" min="{{domain.min}}" max="{{domain.max}}" value="{{density.domain}}" ng-click="update()"/>
        </div>
      </div> -->

<!--   <div class="row">
    <div class="col-md-12 bordered">
      <h3>Parameters</h3>
      <div class="panel panel-default bordered-blue">
        <div class="panel-body">
          <div class="row" ng-repeat="m in models">
            <button></button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
