<!-- Density panel -->


<!-- Distribution panel -->
<div class="row">
  <div class="col-md-12 bordered">
      <h3>Density</h3>
      <form class="form-inline bordered-blue" role="form">
        <div class="form-group">
          <div class="btn-group" dropdown is-open="status.isopen">
            <select class="form-control btn btn-standard dropdown-toggle" ng-options="d.name for d in densities" ng-model="density">
              <option selected value="">Choose a distribution</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">@</div>
            <input class="form-control" type="email" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="exampleInputPassword2">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div> -->
        <!-- <button type="submit" class="btn btn-primary">Add Model</button> -->
      </form>
  </div>
</div>

<!-- Parameter panel -->
<div class="animate-hide" ng-show="hasDensity()">
  <div class="row bordered">
    <div class="col-md-12">
          <chart-form></chart-form>
    </div>
  </div>
</div>

<!-- PDF panel -->
<div class="animate-hide" ng-show="hasParams()">
  <div class="row">
    <div class="col-md-12 bordered">
        <h3>PDF</h3>
        <div class="bordered-blue">
          <div ng-controller="ChartCtrl">
              <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
          </div>
        </div>
    </div>
  </div>
</div>




<!--   <div class="row">
    <div class="col-md-12 bordered">
      <h3>Parameters</h3>
      <div class="panel panel-default bordered-blue">
        <div class="panel-body">
          <div class="row" ng-repeat="m in models">
            <button></button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->
